################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternExamples/bin/Debug/net5.0
/DesignPatternExamples/obj
